<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head %>
	</head>

	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">My Journey</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#experience">Experience</a></li>
					<li><a href="#education">Education</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="#experience">Experience</a></li>
					<li><a href="#education">Education</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</nav>
          
		<div class="slider fullscreen">
			<ul class="slides">
				<li>
					<img src="images/bg1.jpg">
					<div class="slider-overlay"></div>
					<div class="caption center-align">
						<h3>I am Douglas Carvalho</h3>
						<h5 class="light grey-text text-lighten-3">And this is my journey</h5>
					</div>
				</li>
				<li>
					<img src="images/bg2.jpg">
					<div class="slider-overlay"></div>
					<div class="caption left-align">
						<h3>Experienced Professional</h3>
						<h5 class="light grey-text text-lighten-3">Over 2 years of IT experience</h5>
					</div>
				</li>
				<li>
					<img src="images/bg3.jpg">
					<div class="slider-overlay"></div>
					<div class="caption right-align">
						<h3>IT Student</h3>
						<h5 class="light grey-text text-lighten-3">Expecting a first honours degree</h5>
					</div>
				</li>
				<li>
					<img src="images/bg4.jpg">
					<div class="slider-overlay"></div>
					<div class="caption center-align">
						<h3>Stay tuned!</h3>
						<h5 class="light grey-text text-lighten-3">Visit my social media</h5>
					</div>
				</li>
			</ul>
		</div>
		
		<section class="second-section" id="experience">
			<div class="container line">

				<div class="row">
					<div class="col s12" style="text-align: center; margin-top: 25px">
						<h4>My Experience</h4>
					</div>
				</div>
				<div class ="row" style=" margin-bottom: 90px">
					<div style="text-align: center; z-index: 50; position: absolute; left: 50%; margin-left: -35px">
						<div class="card-panel teal">
						<span class="white-text">2015</span>
						</div>

					</div>
				</div>
				<div class="row" style="position: relative">
					<div class="timeline-block odd" style="position: relative; z-index: 50;">
						<h5>Front-end Developer</h5>
						<i>Agile Solutions, Brazil</i><br>
						<b>4 months</b>
						<p>I worked on the development of components and web applications based on the SAPUI5 framework that were used by the company Petrobras to manage taxes, calculate values, store records and generate analytical reports.</p>
						<div class="chip">JavaScript</div>
						<div class="chip">HTML</div>
						<div class="chip">CSS</div>
						<div class="chip">jQuery</div>
						<div class="chip">AJAX</div>
						<div class="chip">GIT</div>
						<div class="chip">SQL</div>
					</div>
					<div class="lil-ball">
						<img src="images/pc.png">
					</div>
				</div>
				<div class ="row" style=" margin-bottom: 90px">
					<div style="text-align: center; z-index: 50; position: absolute; left: 50%; margin-left: -35px">
						<div class="card-panel teal">
						<span class="white-text">2014</span>
						</div>

					</div>
				</div>
				<div class="row" style="position: relative">
					<div class="col s6 offset-s6 timeline-block even" style="position: relative">
							<h5>IT Intern</h5>
							<i>Educate Together, Ireland</i><br>
							<b>7 months</b>
							<p>Working on tasks such as: improving their current systems, identifying and solving problems, developing new systems to fulfil the company needs, managing and customizing a CRM called Salesforce and also providing weekly IT training to the staff during meetings with PowerPoint presentations.</p>
							<div class="chip">JavaScript</div>
							<div class="chip">HTML</div>
							<div class="chip">CSS</div>
							<div class="chip">jQuery</div>
							<div class="chip">AJAX</div>
							<div class="chip">GIT</div>
							<div class="chip">VBA</div>
							<div class="chip">Moodle</div>
							<div class="chip">PHP</div>
							<div class="chip">SQL</div>
					</div>
					<div class="lil-ball">
						<img src="images/settings.png">
					</div>
				</div>
				<div class ="row" style=" margin-bottom: 90px">
					<div style="text-align: center; z-index: 50; position: absolute; left: 50%; margin-left: -35px">
						<div class="card-panel teal">
						<span class="white-text">2013</span>
						</div>

					</div>
				</div>
				<div class="row" style="position: relative">
					<div class="timeline-block odd" style="position: relative">
							<h5>Mobile Application Developer</h5>
							<i>Ilhasoft, Brazil</i><br>
							<b>3 months</b>
							<p>I worked developing hybrid mobile applications using the 
								framework Titanium developed by Appcelerator.</p>
							<div class="chip">JavaScript</div>
							<div class="chip">HTML</div>
							<div class="chip">CSS</div>
							<div class="chip">SQLite</div>
					</div>
					<div class="lil-ball">
						<img src="images/mobile.png">
					</div>
				</div>
				<div class ="row" style=" margin-bottom: 90px">
					<div style="text-align: center; z-index: 50; position: absolute; left: 50%; margin-left: -35px">
						<div class="card-panel teal">
						<span class="white-text">2012</span>
						</div>

					</div>
				</div>
				<div class="row" style="position: relative">
					<div class="col s6 timeline-block even" style="position: relative">
						<h5>IT Support</h5>
						<i>Estácio College, Brazil</i><br>
						<b>13 months</b>
						<p>Worked in IT Support for one year and one month in the same college I studied at in Brazil. Only the best students have a chance to get an internship in the college. Usually they hire students with a contract of six months, however they were so impressed with my work and dedication within the college, that they renewed my contract for seven more months.</p>
						<div class="chip">MS Server 2008</div>
						<div class="chip">Active Directory</div>
						<div class="chip">DHCP</div>
						<div class="chip">Networking</div>
						<div class="chip">Client Support</div>
						<div class="chip">Hardware Maintenance</div>
					</div>
					<div class="lil-ball">
						<img src="images/wireless.png">
					</div>
				</div>
			</div>



		</section>

		<section class="third-section" id='education'>
			<div class="parallax-container" style="height: 650px">
				<div class="parallax"><img src="images/education.jpg"></div>
			<div class="container">
				<div class="row" style="margin-top: 20px">
					<div class="col s12" style="text-align: center; color: white">
						<h4>My Education</h4>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<div class="collection" id="edu-links" style="margin-top: 50px">
							<a href="#!" class="collection-item active" id="cct-link">College of Computing Technology, Ireland</a>
							<div style="border-bottom: 1px solid lightgray; padding: 0 20px; background:white; padding-top: 10px" id="cct-content">
								<p style="margin-top: 0"><b>2015 - Present</b></p>
								<i>BSc in Information Technology - First Honours expected</i>
								<p><b>Modules: </b>Databases, Advanced Web Development, GUI Programming, Mobile Networking, Operating Systems, Network Service Management & Virtualization, Cloud Computing Fundamentals & Platforms, Object Oriented Constructs, Systems Analysis & Design, Project Development</p>
							</div>
							<a href="#!" class="collection-item">National College of Ireland, Ireland</a>
							<div style="border-bottom: 1px solid lightgray; padding: 0 20px; background:white; padding-top: 10px; display: none">
								<p style="margin-top: 0"><b>2013 - 2014</b></p>
								<i>BSc in Business Information Systems</i>
								<p><b>Modules: </b> HTML & Web Design, Introduction to Computers, Mathematics for Computing, Introduction to Programming, Computer Architecture, Managerial Foundations of Information Systems, Object Oriented Programming</p>
								<p><b>Note: </b>Continuing this course at the College of Computing Technology</p>
							</div>
							<a href="#!" class="collection-item">Estácio College, Brazil</a>
							<div style="border-bottom: 1px solid lightgray; padding: 0 20px; background:white; padding-top: 10px; display: none">
								<p style="margin-top: 0"><b>2011 - 2013</b></p>
								<i>BSc in Information Systems</i>
								<p><b>Achievements: </b>8th Best grade of 2012, Awarded with internship opportunity, Research Project scholarship, Professor Assistant, Science Without Borders scholarship.</p>
								<p><b>Note: </b>I was awarded with a scholarship to continue my studies in Ireland through the Science Without Borders program after completing 18 months of this programme.</p>
							</div>
							<a href="#!" class="collection-item">Enem - Leaving Certificate Equivalent, Brazil</a>
							<div style="border-bottom: 1px solid lightgray; padding: 0 20px; background:white; padding-top: 10px; display: none">
								<p style="margin-top: 0"><b>2011</b></p>
								<p><i>Scored 649</i></p>
								<p>Human Science: 549.5, Natural Science: 580.2, Languages: 596.3, Mathematics: 814, Essay: 700</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section>
		<section class="fourth-section" id='portfolio'>
			<div class="row" style="padding-bottom: 100px">
				<div class="col s12" style="text-align: center; margin-top: 25px; margin-bottom: 30px">
					<h4>My Portfolio</h4>
				</div>
				<div class="col s12 m12 l6" style="margin-top: 60px; padding-left: 30px" id="jbookings-header">
					<h5>JBookings</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a class="waves-effect waves-light btn" href="http://dougbacelar.com/jbookings"><i class="material-icons right" >tab</i>view demo</a>
				</div>
				<div class="col s12 m12 l6" style="text-align: center" id="jbookings-img">
					<center><img class="materialboxed" src="images/jbookings.png" style="height: 450px; width: 343px"></center>
				</div>
			</div>
		</section>
		<footer class="page-footer" style="background-color: teal" id="contact">
		<div class="container">
			<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Get in Touch!</h5>
				<!-- <p class="grey-text text-lighten-4">Get in touch!</p> -->
				<i class="material-icons white-text" style="float:left">phone</i><p class="white-text" style="margin-left: 30px; margin-top: 18px">+353 85 194 8781</p>
				<i class="material-icons white-text" style="float:left">mail</i><p class="white-text" style="margin-left: 30px; margin-top: 18px">dougbacelar@gmail.com</p>
			</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Check these out as well!</h5>
					<ul>
						<li class="valign-wrapper" style="margin-bottom:10px"><img src="/images/github-icon.png" style="height: 25px; margin-right: 5px"></img><a class="grey-text text-lighten-3" href="http://www.github.com/Matorzinho">/Matorzinho</a></li>
						<li class="valign-wrapper" style="margin-bottom:10px"><img src="/images/linkedin-icon.png" style="height: 25px; margin-right: 5px"></img><a class="grey-text text-lighten-3" href="https://ie.linkedin.com/in/dougbacelar/en">/in/dougbacelar/en</a></li>
						<li class="valign-wrapper" style="margin-bottom:10px"><a class="grey-text text-lighten-3" href="http://dougbacelar.com/jbookings">dougbacelar.com/jbookings</a></li>
						<!-- <li><a class="grey-text text-lighten-3" href="#!">dougbacelar@gmail.com</a></li> -->
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
			© 2016 Copyright Douglas Carvalho
			<!-- <a class="grey-text text-lighten-4 right" href="#!">dougbacelar@gmail.com</a> -->
			</div>
		</div>
    </footer>
	</body>

</html>