<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head %>
	</head>
	<body>
		<div class="slider fullscreen">
			<ul class="slides">
				<li>
					<img src="images/bg1.jpg">
					<div class="slider-overlay"></div>
					<div class="caption center-align">
						<h3>I am Douglas Carvalho</h3>
						<h5 class="light grey-text text-lighten-3">And this is my journey</h5>
					</div>
				</li>
				<li>
					<img src="images/bg2.jpg">
					<div class="slider-overlay"></div>
					<div class="caption left-align">
						<h3>Check out my previous jobs</h3>
						<h5 class="light grey-text text-lighten-3">Over 2 years of IT experience</h5>
					</div>
				</li>
				<li>
					<img src="images/bg3.jpg">
					<div class="slider-overlay"></div>
					<div class="caption right-align">
						<h3>IT Student</h3>
						<h5 class="light grey-text text-lighten-3">Expecting a first honours degree</h5>
					</div>
				</li>
				<li>
					<img src="images/bg4.jpg">
					<div class="slider-overlay"></div>
					<div class="caption center-align">
						<h3>Stay tuned!</h3>
						<h5 class="light grey-text text-lighten-3">Visit my blog and social media</h5>
					</div>
				</li>
			</ul>
		</div>
			
	</body>
</html>